@media only screen and (max-width: 780px) {

    .container {
        width: 30.5rem;
    }

    .col_4, .col_3 {
        width: 100%;
    }
    
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.4rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    h1, h2 {
        line-height: 1.2;
    }

    .button {
        padding: 1.2rem 1.8rem;
    }

    .header {

        .header_intro {
            display: flex;
            justify-content: space-between;
            width: 100%;
            position: relative;
            z-index: 1000;

            .nav_button {
                display: inline-block;
                cursor: pointer;

                .nav_button_close {
                    display: none;
                }
            }
        }

        .nav {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($very_dark_blue, 0.8);
            z-index: 100;

            .list {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10rem 3.5rem 0;
                border-top: 0.1rem solid $white_color;
                text-align: center;

                .list_item {
                    width: 100%;
                    border-bottom: 0.1rem solid $white_color;

                    &:last-child {
                        margin-top: 2rem;                            
                        border-bottom: none;
                    }

                    .list_item_link {
                        display: inline-block;
                        padding: 2.5rem;
                        color: $white_color;

                        &:hover {
                            color: $soft_red_color;
                        }
                    }

                    .button {
                        padding: 1.5rem;
                        background-color: transparent;
                        border-color: $white_color;
                        width: 100%;
                        box-shadow: none;
                    }
                }
            }

            .container_social_icon {
                display: block;
                margin-top: 12rem;
                text-align: center;

                .social_icon_link {
                    margin: 0 1.5rem;
                }
            }
        }
    }

    .intro {
        flex-direction: column;
        margin: 0 3.5rem;

        .intro_content {
            width: 100%;
            order: 1;
            margin-top: 5rem;
            text-align: center;

            .button_intro {
                margin: 0 0 1rem;
            }
        }

        .intro_bg_right {
            width: 30rem;
            height: 20rem;
            top: 6rem;
            right: -3.5rem;
        }
    }

    .main {

        .container_features {
            margin: 6rem 3.5rem 4rem;
        }

        .bookmark {

            .bookmark_list {
                flex-direction: column;
                margin: 3.5rem 3.5rem 6rem;
                border-top: 0.1rem solid $grayish_blue_color;
                text-align: center;

                .bookmark_list_item {
                    width: 100%;
                    border-bottom: 0.1rem solid $grayish_blue_color;

                    .bookmark_list_item_link {
                        border: none;
                    }

                    .active {
                        border-bottom: 0.4rem solid $soft_red_color;
                    }
                }
            }

            .intro {

                .intro_bg_left {
                    width: 30rem;
                    height: 20rem;
                    top: 6rem;
                    left: -3.5rem;
                }
            }
        }

        .container_browser {

            .col_3 {
                margin: 4rem 0;

                &:first-child {
                    margin: 0;
                }

                &:nth-child(2), &:last-child {
                    margin: 4rem 0;
                }
            }
        }
    }

    .container_questions {
        margin: 12rem 3.5rem;

        .questions_list {
            text-align: left;
        }
    }

    .container_contact {

        .col_4 {

            .form {
                display: flex;
                flex-direction: column;

                .form_input {
                    margin: 0 0 1.5rem;
                    width: 100%;
                }
            }
        }
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        padding: 3.5rem;
        text-align: center;

        .footer_links {
            flex-direction: column;

            .logo_link {
                margin: 0 0 4rem;
            }   

            .nav {
                justify-content: center;
                margin-bottom: 4rem;

                .list {
                    flex-direction: column;

                    .list_item {
                        margin-bottom: 3rem;
                    }
                }
            }
        }

        .container_social_icon {

            .social_icon_link {

                &:first-child {
                    margin-right: 0;
                }
            }
        }
    }

}