// primary colors
$soft_blue_color: hsl(231, 69%, 60%);
$soft_red_color: hsl(0, 94%, 66%);

// neutral colors
$grayish_blue_color: hsl(229, 8%, 60%);
$very_dark_blue: hsl(229, 31%, 21%);

$white_color: hsl(0, 0%, 100%);